<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Todo</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script defer src="main.js"></script>
</head>

<body>
  <div id="app">
    <h1>todos</h1>

    <form class="todo-form" @submit="submit">
      <input
        type="text" v-model="input"
        :placeholder="[searching ? 'Filter...' : 'What needs to be done?']"
        autocomplete="off" required>

      <i class="fas fa-search" :class="{enabled: searching}" @click="search" title="Filter Results"></i>
      <i class="far fa-trash-alt" @click="clear" title="Clear Completed Tasks"></i>
    </form>

    <ul class="todo-list">
      <task
        v-for="todo in todos" :key="todo.id"
        v-if="(searching && todo.task.includes(input)) || !searching"
        @edit-todo="edit($event)"
        :todo="todo" :complete="complete"
        inline-template>

        <li :class="{completed: todo.completed}" @click="complete(todo.id, editing)" @mouseenter="enter" @mouseleave="leave">
          <div v-if="editing">
            <form @submit="submit">
              <input v-model="input" ref="input">
            </form>
          </div>
          <template v-else>
            <span>{{todo.task}}</span>
          </template>
          <i class="far fa-edit" :class="{display: hovering}" @click="edit" title="Edit"></i>
        </li>

      </task>
    </ul>
  </div>
</body>

</html>
